<%- include('../partials/header') %>

<h2>cards/index</h2>

<table>
    <tr>
        <th>Deck Name</th>
        <th>Format</th>
    </tr>
    <% cardData.forEach(function(c) { %>
        <%= c.name %>
        <img src="<%= c.imageUrl %>">
        <%= c.id %>
        <a href="/cards/new">Add Card</a>
    <% }); %>
</table>
  
<%- include('../partials/footer') %>

