<%- include('../partials/header') %>

<h2>cards/index</h2>

<table>
    <tr>
        <th>Deck Name</th>
        <th>Format</th>
    </tr>
    <% cardData.forEach(function(c) { %>
        <%= c.name %>
        <img src="<%= c.imageUrl %>">
        <a href="https://www.tcgplayer.com/search/all/product?q=<%= c.name %>&view=grid">Buy on TCG Player</a>

    <% }); %>
</table>
  
<%- include('../partials/footer') %>