<%- include('../partials/header') %>

<h2>cards/show</h2>

<div><%= card.name %></div><br>
<div><%= card.set %></div><br>
<div><img src="<%= card.imageUrl %>"></div>
<div><%= card.id %></div><br>

<form action="/cards/<%= card.id %>/reviews" method="POST">
    <label>Card Reviews</label><br>
    <input type="text" name="content"><br>
    <input type="submit" value="submit review">
</form>

<% card.reviews.forEach(function(review) { %>
    <div class="review">
      <%= review.content %><br>
      <% if (user && review.user.equals(user._id)) { %>
        <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form><br>
      <% } %>
    </div>
  <% }) %>


<%- include('../partials/footer') %>