<%- include('../partials/header') %>

<h2>cards/show</h2>

<div><%= card.name %></div><br>
<div><%= card.set %></div><br>
<div><img src="<%= card.imageUrl %>"></div>
<div><%= card.id %></div><br>


<%- include('../partials/footer') %>