<%- include('../partials/header') %>

<h2>cards/show</h2>

<div><%= card.name %></div>
<div><%= card.set %></div>
<div><img src="<%= card.imageUrl %>"></div>
<div><%= card.id %></div>

<%- include('../partials/footer') %>